{% extends "carts/base.html" %}
{% block content %}
<div class="modal fade" id="myModal" role="dialog">
 <div class="modal-dialog">

   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">Checking Out </h4>
       <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>
     <div class="modal-body">
       <p>Your Order Will Be Placed.
         Confirm By Clicking "Place" OR Continue Shopping ;)
         The Delivery Will Be Out Soon.
         Thank You For Requesting Our Service.
       </p>
     </div>
     <div class="modal-footer">
       <a href="/logout" class="btn btn-danger">Place</a>
       <a href="/products" class="btn btn-primary">Continue Shopping</a>
     </div>
   </div>

 </div>
</div>
<div class="col-sm-8 col-sm-offset-2">
{% if empty %}

<h1 style="text-align:center;">{{empty_message}}</h1>

{% else %}
<table class="table">
  <thead>
    <th>Item</th>
    <th>Price</th>
    <th>Qty</th>
    <tfoot>
      <tr>
        <td></td>
        <td>Total: {{cart.total}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">CheckOut</button></td>
      </tr>
    </tfoot>
  </thead>
  {% for item in cart.cartitem_set.all %}
  <tr>
    <td>{{item.product}}</td>
    <td>{{item.product.price}}</td>
    <td>{{item.quantity}}</td>
    <td><a href="{% url 'update_cart' item.product.slug  0 %}">Remove</a></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
