<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Zaayka Food Ordering</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Humburger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- //Meta tag Keywords  class="btn btn-default btn-rounded mb-4"-->
    <!-- Custom-Files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "/user/css/bootstrap.css"%}"/>
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "/user/css/style.css"%}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static "/user/css/font-awesome.css"%}" type="text/css" rel="stylesheet"/>
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,600,700" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet"/>
    <!-- //Fonts -->
</head>
<body>
  
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->
            <header>
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4 d-lg-flex">
                        <div id="logo">
                            <h1> <a href="index.html"><span class="fa fa-align-center" aria-hidden="true"></span>ZK</a></h1>
                        </div>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2 ml-auto">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#about" class="scroll">About</a></li>
                            <li><a href="#menu" class="scroll">Menu</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul class="inner-ul">
                                    <li><a class="scroll" href="#gallery">Gallery</a></li>
                                    <li><a href="#services" class="scroll">Services</a></li>
                                    <li><a href="#menu" class="scroll">Menu</a></li>
                                </ul>
                            </li>
                            <li><a href="#testimonials" class="scroll">Reviews</a></li>
                            <li><a href="#contact" class="scroll">Contact</a></li>
                            {% if user.is_authenticated %}

                            <li ><a href="{% url 'profile'%}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-dashboard"></span> profile</a></li>
                            <li ><a href="{% url 'logout'%}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> LogOut</a></li>
                            {% else %}
                            <li ><a href="{% url 'register'%}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li ><a href="{% url 'login'%}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center">
                    <h3>Zaayka Special</h3>
                    <div class="read-more">
                        <a href="#about" class="read-more scroll">Read More </a> </div>
                </div>
                <div class="row order-info">
                    <div class="middle mt-3 col-md-6 text-left">
                        <ul class="social mb-4">
                            <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble icon_dribbble"></span></a></li>
                        </ul>

                    </div>
                    <div class="middle-right mt-md-3 col-md-6 text-right">
                        <h6><span class="fa fa-phone"></span> Order Now : 123456789</h6>
                    </div>
                </div>
            </div>
            <!-- //banner -->
        </div>
    </div>
    <!--// mian-content -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-5" id="about">
        <div class="container py-md-3">
            <div class="row banner-grids">
                <div class="col-md-6 content-left-bottom text-left pr-lg-5">
                    <h4>Why are we Unique !</h4>
                    <p class="mt-2 text-left">
                        Eating is something that everyone loves to do, and what’s better than sitting in the comfort of your home, reading your favorite book, watching some show or film or just idling with your family & friends and ordering food from your favorite restaurant at your fingertips!</p>
                        <br>
                        <p class="mt-2 text-left"><h2>Zaayka offers you this comfort !</h2></p>

                </div>
                <div class="col-md-6 content-right-bottom text-left">
                    <img src="{% static "user/images/ab1.png"%}" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom-wthree -->
    <!--/ about -->
    <section class="services py-5" id="services">
        <div class="container py-md-5">
            <div class="header pb-lg-3 pb-3 text-center">
                <h3 class="tittle two mb-lg-3 mb-3">What kind of Foods we serve for you</h3>
            </div>
            <div class="row ab-info mt-lg-4">
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="{% static "user/images/1.jpg"%}" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Delicious sandwiches</h4>
                            <p>Starting at Rs. 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="{% static "user/images/1.jpg"%}" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Hamburgers and Fries</h4>
                            <p>Starting at Rs. 70</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="{% static "user/images/food4.jpg"%}" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Pizzas</h4>
                            <p>Starting at Rs.150</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="{% static "user/images/food3.jpg"%}" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Desserts</h4>
                            <p>Starting at Rs.50</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--// about -->
    <!--/mid-sec-->
    <section class="mid-sec py-5" id="menu">
        <div class="container-fluid py-lg-5">
            <div class="header pb-lg-3 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">Bigger & Bolder</h3>
            </div>
            <div class="middile-inner-con">
                <div class="tab-main mx-auto text-center">

                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1"><span class="fa fa-align-center" aria-hidden="true"></span> Burgers</label>

                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2"><span class="fa fa-bolt" aria-hidden="true"></span> Fries</label>

                    <input id="tab3" type="radio" name="tabs">
                    <label for="tab3"><span class="fa fa-bitbucket" aria-hidden="true"></span> Drinks</label>

                    <section id="content1">
                        <div class="ab-info row">
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/burger1.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Mc Maharaja</h4>
                                        <p class="price">Rs.150</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/burger2.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Mac N Cheese Burger</h4>
                                        <p class="price">Rs.180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/burger3.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Three Layer JumboRaja</h4>
                                        <p class="price">Rs.120</p>
                                    </div>
                                </div>
                            </div
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/6.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Cheeese to Core</h4>
                                        <p class="price">Rs.100</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>

                    <section id="content2">

                        <div class="ab-info row">
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/peri.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Peri Peri Fries</h4>
                                        <p class="price">Rs.120</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/fries2.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Sweet Paprika Fries</h4>
                                        <p class="price">Rs. 80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/fries3.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Bacon Fries</h4>
                                        <p class="price">Rs. 150</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/fries4.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Mexican Tacos</h4>
                                        <p class="price">Rs. 120</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section id="content3">
                        <div class="ab-info row">
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/cola1.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Cola</h4>
                                        <p class="price">Rs. 50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/Juice 2.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Fresh Lime</h4>
                                        <p class="price">Rs. 50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/11.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Pink Smoothie</h4>
                                        <p class="price">Rs. 80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ab-content">
                                <div class="tab-wrap">
                                    <img src="{% static "user/images/coffee.jpg"%}" alt="news image" class="img-fluid">
                                    <div class="ab-info-con">
                                        <h4>Walnut Creme Latter</h4>
                                        <p class="price">Rs. 150</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!--//mid-sec-->
    <!--/order-now-->
    <section class="order-sec pb-5 pt-md-0 pt-5" id="order">
        <div class="container py-lg-3">
            <div class="test-info text-center">
                <h3 class="tittle order">
                    <span>Free Delivery With</span>Burger Of the Day</h3>

                <div class="row mt-lg-4 mt-3">
                    <div class="col-md-6 order-left-content text-right">
                        <h4>Min Order Rs.500</h4>
                    </div>
                    <div class="col-md-6 order-right-content text-left">
                        <ul class="tic-info list-unstyled">
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Mondays and Saturdays Cheese to Core

                            </li>
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Tuesdays and Thursdays Mc Maharaja

                            </li>
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Wednesdays and Fridays Mac n Cheese

                            </li>

                        </ul>
                    </div>
                    <div class="read-more mx-auto text-center">
                        <a href="#contact" class="read-more scroll">Read More </a> </div>
                </div>
            </div>
        </div>
    </section>
    <!--//order-now-->

    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <div class="header text-center">
                <h3 class="tittle mb-lg-5 mb-3">Our Gallery</h3>
            </div>
            <div class="row news-grids text-center gallery-wrap">
                <div class="col-md-3 gal-img">
                    <a href="#gal1"><img src="{% static "user/images/food7.jpg"%}" alt="news image" class="img-fluid"  width="200px" height="200px"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal2"><img src="{% static "user/images/g4.jpg"%}" alt="news image" class="img-fluid" width="200px" height="200px"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal3"><img src="{% static "user/images/fries4.jpg"%}" alt="news image" class="img-fluid" width="200px" height="200px"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal4"><img src="{% static "user/images/food6.jpg"%}" alt="news image" class="img-fluid" width="200px" height="200px"></a>
                </div>

            </div>

            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="{% static "user/images/food7.jpg"%}" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="{% static "user/images/fries4.jpg"%}" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="{% static "user/images/g4.jpg"%}" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="{% static "user/images/food6.jpg"%}" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->


        </div>
    </section>
    <!--// gallery -->

    <!--/testimonials-->
    <section class="testimonials" id="testimonials">
        <div class="layer footer">
            <div class="container py-5">
                <div class="test-info text-center">
                    <h3 class="my-md-2 my-3">Shreyas Talole</h3>

                    <ul class="list-unstyled w3ls-icons clients mb-md-4">
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star-half-o"></span>
                            </a>
                        </li>
                    </ul>
                    <p><span class="fa fa-quote-left"></span> People won't believe but these guys have Amazing Discounts and Offers going on everyday.The BEST thing about their food is "It is healthy", not overpriced and yet so Delicious.Must Try! <span class="fa fa-quote-right"></span></p>

                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container pb-md-5">
            <div class="header py-lg-5 pb-3 text-center">
                <h3 class="tittle mb-lg-5 mb-3"> Contact Us</h3>
            </div>

            <div class="contact-form mx-auto text-left">
                <form name="contactform" id="contactform1" method="post" action="#">
                    <div class="row">
                        <div class="col-lg-4 con-gd">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" class="form-control" id="name" placeholder="" name="name" required="">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="" name="email" required="">
                            </div>
                        </div>
                        <div class="col-lg-4 contact-page">
                            <div class="form-group">
                                <label>Submit *</label>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <ul class="list-unstyled row text-left mb-lg-5 mb-3">
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Location</h6>
                            <p>Zaayka Pvt.
                                <br>Mumbai </p>
                        </div>
                    </div>
                </li>

                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-envelope-open-o"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Email</h6>
                            <a href="mailto:info@example.com">mail@example.com</a>
                            <br>
                            <a href="mailto:info@example.com">mail2@example.com</a>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-mobile"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Phone Number</h6>
                            <p>+ 1234567890</p>
                            <p>+ 0987654321</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </section>
    <!-- //contact -->
    <!-- footer -->
    <footer class="footer-content">
        <div class="layer footer">
            <div class="container-fluid">
                <div class="row footer-top-inner-w3ls">
                    <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                        <h2>
                            <a href="index.html"><span class="fa fa-align-center" aria-hidden="true"></span>ZK</a>
                        </h2>
                        <p class="my-3">Zaayka has been rated as the best food ordering app.Zaayka has top three Michellen Star Restaurants over the World! </p>
                        <p>
                            Dont forget to try and Rate out Food to help us Improve
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Opening Hours</h3>
                            <hr>
                            <ul class="list-info-w3pvt last-w3ls-contact mt-lg-4">
                                <li>
                                    <p> Monday - Friday 08.00 am - 10.00 pm</p>

                                </li>
                                <li class="my-2">
                                    <p>Saturday 08.00 am - 10.00 pm</p>

                                </li>
                                <li class="my-2">
                                    <p>Sunday 08.00 am - 10.00 pm</p>

                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Contact Us</h3>
                            <hr>
                            <div class="last-w3ls-contact">
                                <p>
                                    <a href="mailto:example@email.com">info@example.com</a>
                                </p>
                            </div>
                            <div class="last-w3ls-contact my-2">
                                <p>+ 456 123 7890</p>
                            </div>
                            <div class="last-w3ls-contact">
                                <p>+ 90 Bandra West
                                    <br>Mumbai</p>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="copy-right-grids text-li text-center my-sm-4 my-4">© 2019 Zaayka. All Rights Reserved.
                </p>
                <div class="w3ls-footer text-center mt-4">
                    <ul class="list-unstyled w3ls-icons">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="move-top text-right"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
            </div>
            <!-- //footer bottom -->
        </div>
    </footer>
    <!-- //footer -->


</body>

</html>
